@model IEnumerable<CarService.Models.InspectionModel>

@{
    ViewData["Title"] = "Inspections";
}

<h1>Inspections</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Client.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientCar.LicensePlate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientCar.CarBrand.BrandName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mileage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTimeOfInspection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Archived)
            </th>
            <th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Client.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientCar.LicensePlate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientCar.CarBrand.BrandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mileage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeOfInspection)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Archived)
            </td>
            @if (item.Archived == false)
            {
                <td>
                    @Html.ActionLink("Create Invoice", "Create", "Invoice", new { inspectionId = item.Id }) |
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            }
            else
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            }
        </tr>
}
    </tbody>
</table>
