@model IEnumerable<CarService.Models.ScheduleModel>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    var userId = @HttpContextAccessor.HttpContext.Session.GetInt32(BusinessLogic.Constants.SessionKeyUserId);
    var userName = @HttpContextAccessor.HttpContext.Session.GetString(BusinessLogic.Constants.SessionKeyUserName);
    var userRole = BusinessLogic.Enums.UserRoles.NA;
    var userRoleInt = @HttpContextAccessor.HttpContext.Session.GetInt32(BusinessLogic.Constants.SessionKeyUserRole);
    if (userRoleInt != null)
    {
        userRole = (BusinessLogic.Enums.UserRoles)userRoleInt;
    }

    ViewData["Title"] = "Schedules";
    <h1>Schedules</h1>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateBegin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee.EmployeeRole.EmployeeRoleName)
            </th>
            <th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateBegin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateEnd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.EmployeeRole.EmployeeRoleName)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                    @switch (userRole)
                    {
                        case BusinessLogic.Enums.UserRoles.Owner:
                        case BusinessLogic.Enums.UserRoles.CustomerSupport:
                            {
                                @Html.Raw(" | ") @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                                @Html.Raw(" | ") @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            }
                            break;
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
