@model IEnumerable<CarService.Models.ScheduleModel>

@{
    ViewData["Title"] = "ScheduleListView";
}

<h1>BrandListView</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ForDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HourBegin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HourEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeFullName)
            </th>
            <th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ForDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HourBegin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HourEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeFullName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
