@model IEnumerable<CarService.Models.ClientModel>

@{
    ViewData["Title"] = "Clients";
}

<h1>Clients</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Archived)
            </th>
            <th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Archived)
            </td>
            @if (item.Archived == false)
            {
                <td>
                    @Html.ActionLink("Add Car", "Create", "ClientCar", new { clientId = item.Id }) |
                    @Html.ActionLink("Cars", "ClientCars", "ClientCar", new { clientId = item.Id }) |
                    @Html.ActionLink("Inspections", "ClientInspections", "Inspection", new { clientId = item.Id }) |
                    @Html.ActionLink("Invoices", "ClientInvoices", "Invoice", new { clientId = item.Id }) |
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            }
            else
            {
                <td>
                    @Html.ActionLink("Cars", "ClientCars", "ClientCar", new { clientId = item.Id }) |
                    @Html.ActionLink("Inspections", "ClientInspections", "Inspection", new { clientId = item.Id }) |
                    @Html.ActionLink("Invoices", "ClientInvoices", "Invoice", new { clientId = item.Id }) |
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            }

        </tr>
}
    </tbody>
</table>
