@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    var userId = @HttpContextAccessor.HttpContext.Session.GetInt32(BusinessLogic.Constants.SessionKeyUserId);
    var userName = @HttpContextAccessor.HttpContext.Session.GetString(BusinessLogic.Constants.SessionKeyUserName);
    var userRole = BusinessLogic.Enums.UserRoles.NA;
    var userRoleInt = @HttpContextAccessor.HttpContext.Session.GetInt32(BusinessLogic.Constants.SessionKeyUserRole);
    if (userRoleInt != null)
    {
        userRole = (BusinessLogic.Enums.UserRoles)userRoleInt;
    }
}

@model CarService.Models.CredentialModel


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @switch (userRole)
    {
        case BusinessLogic.Enums.UserRoles.NA:
            <h1>Welcome</h1>

            <hr />
            <div class="text-center">
                <div class="col-md-4" style="float:left">
                    <h2>Clients</h2>

                    <div class="row">
                        <div class="col-md">
                            <form asp-action="SignIn" asp-controller="Credential">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="EmailAddress" class="control-label"></label>
                                    <input asp-for="EmailAddress" class="form-control" />
                                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Password" class="control-label"></label>
                                    <input asp-for="Password" class="form-control" type="password" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="form-group" style="color:#dc3545">
                                    @Html.DisplayFor(model => model.ErrorMessage)
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Sign In" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>

                    <div>
                        <a asp-action="ForgottenPassword" asp-controller="Credential">Forgotten Password</a> | <a asp-action="SignUp" asp-controller="Credential">Sign Up</a>
                    </div>
                </div>

                <div class="col-md-4" style="float:right">
                    <h2>Employees</h2>

                    <div class="row">
                        <div class="col-md">
                            <form asp-action="SignInEmployee" asp-controller="Credential">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="EmailAddress" class="control-label"></label>
                                    <input asp-for="EmailAddress" class="form-control" />
                                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Password" class="control-label"></label>
                                    <input asp-for="Password" class="form-control" type="password" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="form-group" style="color:#dc3545">
                                    @Html.DisplayFor(model => model.ErrorMessage)
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Sign In" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            break;
        case BusinessLogic.Enums.UserRoles.Owner:
            <h1 class="display-4">Welcome</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
            break;
        case BusinessLogic.Enums.UserRoles.Mechanic:
            <h1 class="display-4">Welcome</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
            break;
        case BusinessLogic.Enums.UserRoles.CustomerSupport:
            <h1 class="display-4">Welcome</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
            break;
        case BusinessLogic.Enums.UserRoles.Customer:
            <h1 class="display-4">Welcome</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
            break;
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

