@model IEnumerable<CarService.Models.InspectionHoursModel>

@{
    ViewData["Title"] = "InspectionHoursListView";
}

<h1>BrandListView</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarBrandName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTimeOfInspection)
            </th>
            <th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarBrandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeOfInspection)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
