@model IEnumerable<CarService.Models.InvoiceModel>

@{
    ViewData["Title"] = "Invoices";
}

<h1>Invoices</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inspection.Client.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inspection.ClientCar.LicensePlate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inspection.ClientCar.CarBrand.BrandName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceSum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Archived)
            </th>
            <th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inspection.Client.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inspection.ClientCar.LicensePlate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inspection.ClientCar.CarBrand.BrandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceSum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Archived)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
